

<div class="products-wrapper">
    <div class="items">
        <% products.forEach(product => { %>
        <li class="item">
            <a href="/products/<%=product.alias%>"><img src="<%=product.picture%>" alt=""></a>
            <a href="/products/<%=product.alias%>" class="title"><%=product.title%></a>
            <div class="line"></div>
            <span class="text"><%=product.description%></span>
            <a href="/products-edit/<%=product.alias%>"><button class="admin-edit-btn">Редактировать</button></a>
            <a href="<%=product.alias%>"><button class="admin-delete-btn">Удалить</button></a>
        </li>
        <% }) %>
    </div>
    <a href="/createProduct"><button class="admin-add-btn">ДОБАВИТЬ ПРОДУКТ</button></a>
</div>