

<div class="products-wrapper">
    <div class="items">
        <% products.forEach(product => { %>
        <li class="item">
            <a href="/products/<%=product.alias%>"><img src="<%=product.picture%>" alt=""></a>
            <a href="/products/<%=product.alias%>" class="title"><%=product.title%></a>
            <div class="line"></div>
            <span class="text"><%=product.description%></span>
        </li>
        <% }) %>
    </div>
</div>