<div class="asdasd">

</div>
<div class="news-wrapper">
    <div class="news-big">
        <div class="date">
            <i class="far fa-clock"></i>
            <%=lastPost.date.getDate() + '.' + (lastPost.date.getMonth() + 1) + '.' + lastPost.date.getFullYear()%></div>
        <div class="title"><%=lastPost.title %> </div>
        <div class="user"><%=lastPost.author%></div>
        <img src="<%=lastPost.picture%>" alt="image">
        <div class="text"><%=lastPost.content%></div>
    </div>
    <div class="news-list">
        <div class="title">Популярные посты</div>
        <ul class="items">
            <% news.forEach(item => { %>
            <li class="item">
                <a href="/news/<%=item.alias%>"><img class="image" src="<%=item.picture%>" alt=""></a>
                <div class="text">
                    <a class="title" href="/news/<%=item.alias%>" class="title">
                        <p><%=item.title%></p>
                    </a>
                    <div class="date">
                        <i class="far fa-clock"></i>
                        <%=item.date.getDate() + '.' + (item.date.getMonth() + 1) + '.' + item.date.getFullYear()%></div>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>