<script>
    //Пока не придумал, как управлять этим по-другому. Пока остаётся в инлайн-скрипте
    document.addEventListener("DOMContentLoaded", function (event) {
        const background = document.getElementById('breadcrumbs-wrapper')
        background.style.background = 'url(<%= headerImage %>) center no-repeat fixed ';

    });
</script>

<div class="breadcrumbs-layout">
    <div class="breadcrumbs-wrapper" id='breadcrumbs-wrapper'>
        <div class="title"><%= title %> </div>
        <div class="breadcrumbs">
            <%if (productName !=='') { %>
            <a><a href="/">Главная</a> / <a href="/<%= active %>"><%= title %> </a> / <a class="active"
                    href="#"><%= productName %></a>
                <% }
                else { %>
                <a href="/">Главная</a> / <a class="active" href="#"><%= title %> </a>
                <% }
                %>
        </div>
    </div>
</div>