<div class="main">
    <div class="news">
        <div class="title">
            <span class="green">Наши</ы>
                <span class="black">новости</span>
        </div>
        <div class="items" id="news-main">
            <% news.forEach(item => { %>
                <div class="item">
                    <a href="/news/<%=item.alias%>">
                    <div class="image"><img src="<%=item.picture%>" alt="image"></div>
                    <div class="text-wrapper">
                            <span class="title"><%=item.title%></span>
                            <div class="flex">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="date"><%=item.createdAt.getDate() + '.' + (item.createdAt.getMonth() + 1) + '.' + item.createdAt.getFullYear()%></span>
                            </div>
                            
                        </a> 
                        <a href="/news-edit/<%=item.alias%>"><button class="admin-edit-btn">Редактировать</button></a>
                    </div>
                    
                </div>
                <% }) %> 
        </div>
    </div>
</div>